*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.slider{
  display: flex;
  width: 100%;
}
.sliderlabel{
  display: flex;
  justify-content: space-between;
}
.selected{
  background-color: aquamarine;
}